<?xml version="1.0" encoding="UTF-8"?>
<server description="Sample Open Liberty server">

  <featureManager>
   <!--     <feature>microProfile-6.0</feature>-->
    <feature>microProfile-4.1</feature>
    <feature>jsp-2.3</feature>
  </featureManager>

  <mpMetrics authentication="false" />

  <basicRegistry id="basic" realm="BasicRealm">
    <!-- <user name="yourUserName" password="" />  -->
  </basicRegistry>

  <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
  <httpEndpoint id="defaultHttpEndpoint"
              httpPort="8080"
              httpsPort="443" />


  <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
  <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
</server>